<footer class="footer p-fluid">
    <div class="grid footer-container">
        <div class="col-12 md:col-6 lg:col-3 menu">
            <h3>Links</h3>
            <ul class="footer-links">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/products">Products</a></li>
                <li><a routerLink="/about">About Us</a></li>
                <li><a routerLink="/contact">Contact Us</a></li>
            </ul>
        </div>

        <div class="col-12 md:col-6 lg:col-3 subscribe">
            <h3>Subscribe</h3>
            <p>Subscribe to our newsletter and get the latest updates and special offers.</p>
            <form>
                <div class="p-inputgroup">
                    <input type="text" placeholder="Email Address">
                    <button type="button" class="p-button p-button-secondary">Subscribe</button>
                </div>
            </form>
        </div>

        <div class="col-12 md:col-6 lg:col-3 social">
            <h3>Follow Us</h3>
            <ul class="footer-social">
                <li><a href="https://www.facebook.com"><i class="pi pi-facebook"></i></a></li>
                <li><a href="https://www.instagram.com"><i class="pi pi-instagram"></i></a></li>
                <li><a href="https://www.twitter.com"><i class="pi pi-twitter"></i></a></li>
            </ul>
        </div>
        <div class="col-12 md:col-6 lg:col-3 contact">
            <h3>Contact Us</h3>
            <ul class="footer-contact">
                <li><i class="pi pi-home"></i>No: 815, Galle Rd, Wadduwa</li>
                <li><i class="pi pi-phone"></i>(077) 338-6948</li>
                <li><i class="pi pi-envelope"></i><a href="mailto:cakefairybysnm@gmail.com">cakefairybysnm@gmail.com</a></li>
            </ul>
        </div>
    </div>
</footer>