.admin-store-details {

    .store-image {
        width: 400px;
        height: 300px;
       
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}