<p-toast></p-toast>
<div *ngIf="!user">
    <h3>Loading........</h3>
</div>
<div class="user-details-page" *ngIf="user">
    <p-card header="User Profile " subheader="Your info">

        <p-fieldset legend="General Info" [toggleable]="true" styleClass="mb-4">
            <div class="grid">

                <div class="col-3">
                    <h5>Name</h5>
                    <p>{{user.name}}</p>
                </div>
                <div class="col-3">
                    <h5>Email</h5>
                    <p>{{user.email}}</p>
                </div>
                <div class="col-3">
                    <h5>User Role</h5> 
                    <p-button *ngIf="user.isSeller" label="Seller" styleClass="p-button-primary"></p-button>
                            <p-button *ngIf="!user.isSeller" label="Buyer" styleClass="p-button-warning"></p-button> 
                                
                </div> 
                <div class="col-3">
                    <h5>Acount Status </h5>
                    <p-dropdown 
                    [options]="accountStatuses" 
                    [(ngModel)]="selectedStatus" 
                    optionLabel="name" 
                    optionValue="id"                    
                    (onChange)="onStatusChange($event)"                    
                    ></p-dropdown>                   
                </div>              
            </div>
        </p-fieldset>
       

        <p-fieldset legend="Contact Details" [toggleable]="true" styleClass="mb-4">
           <div class="grid">
            <div class="col-4 ">
                <h5>Address</h5> 
                <p>{{user.apartment}}</p>
                <p>{{user.street}}</p>
                <p>{{user.city}}</p>
                <p>{{user.zip}}</p>                       
            </div>
            <div class="col-4 ">
                <h5>District</h5> 
                <p>{{user.district}}</p>                                   
            </div>
            <div class="col-4">
                <h5>Phone</h5>
                <p>{{user.phone}}</p>                

            </div>           
           </div>
        </p-fieldset> 
        
        <div class="store-info" *ngIf="store">
        <p-fieldset legend="Store Details" [toggleable]="true" styleClass="mb-4">
            <div class="grid">
             <div class="col-4 ">
                 <h5>Name</h5> 
                 <p>{{store.name}}</p>                                       
             </div>
             <div class="col-6 img-coloumn">                 
                 <img [src]="store.profileImage" alt="">                               
             </div>                    
            </div>
         </p-fieldset>   
    
        </div>

    </p-card>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text" acceptButtonStyleClass="confirm-dialog-accept"></p-confirmDialog>
